@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;700;900&family=Big+Shoulders+Display:wght@100;400;800;900&family=Bitter:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap');

:root{
    font-size: 16px;

    --font1: 'Big Shoulders Display', sans-serif;
    --font2: 'Bitter', serif;
    --font3: 'Playfair Display', serif;
    --font4: 'Anybody', cursive;
    
    --bcg-clr:#111;
    --font-clr:#f6f6f6;
    --thumb-clr:rgb(51, 51, 51);   
    
    --space04:0.4rem;
    --space1:1rem;
}
/* Body and global */
body{
    background-color: var(--bcg-clr);
    color: var(--font-clr);
    display: flex;
    flex-direction: column;
    font-family: var(--font1);
    overflow-x: hidden;
    max-width: 100vw;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--thumb-clr);
    border-radius: var(--space04);
}

a{
    text-decoration: none;
}


/** Container */

.container{
    min-height:calc(100vh - 9rem)  ;
    display: flex;
    flex-direction:column;
    min-width: 90vw;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 1px solid red; */
}


/** Input */
.inputbox{
    position: relative;
}
.todo-input{
    width: 20rem;
    height: 2.1rem;
    margin-bottom: .8rem;
    padding: .4rem .4rem .1rem .4rem;
    border-radius: .22rem;
    border: 1px solid #00000066;
    outline: none;
    position: relative;
   
}

.todo-input ~ label{
    position: absolute;
    left: var(--space04);
    top:var(--space04);
    transition: all 400ms ease;
    pointer-events: none;
}

.todo-input:focus ~ label,
.todo-input:valid ~ label{
    transform: scale(.6);
    top:-.2rem;
    left:-0.7rem;
}

/** Box */
.box{
    margin: 2rem;
    padding: 1.5rem 1rem 1rem 1rem;
    background: rgb(34,171,195);
    background: linear-gradient(0deg,
    rgb(253, 190, 131)0%, 
    rgb(14, 152, 176) 100%);
    text-align: center;
    border-radius: 0 var(--space1) var(--space1) var(--space1) ;
    position: relative;
}

.box > h1{
    padding: 1rem;
}
.todo-list{
    min-height: 20rem;
    width: 60vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color:black;
    border-radius:0 var(--space04) var(--space04) var(--space04);
    position: relative;
}
.todos{
    gap:2rem;
}
.todo-item{
    min-width:30rem;
    height: 2.5rem;
    background-color: rgb(255, 237, 210);
    padding: var(--space04);
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: var(--space04);
    box-shadow: 2px 2px 4px black ;
}
.todo-item > a {
    margin-left:auto;
    cursor: pointer;
}
.todo-item > span{
    font-family: var(--font1);
}
[type="checkbox"]{
    margin-right: var(--space04);
}

.completed-title{
    margin-bottom: var(--space04);
}
.completed > .todo-item{
    background-color: rgb(114, 155, 114);
    color: white;
}
.completed > a{
    color: black;
}
.empty {
    margin-bottom: var(--space04);
}






































/* Footer */
.navlink{
    --menu-font:1.3rem;
    font-size: var(--menu-font);
    cursor: pointer;
    transition: all 600ms ease;
    opacity: 0.4;
    text-decoration: none;
    color: var(--font-clr);
    position: relative;
}
.navlink:hover{
    opacity: 1;
    transform: scale(1.01);
}

footer{
    height:9rem;
    /* border: 1px solid pink; */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cta-clr);
    min-width: 100vw;
}
.footer-text{
    opacity:0.5;
}

.footer-link{
    padding-left: .2rem;
    opacity:0.5;
}
.footer-link:hover{
    opacity:1;
}

.footer-text-div{
    display: flex;
}